/*****************************
00. Home CSS
*****************************/
.search-btn {
    @extend %posfixed;
    @extend %displayinline;
    @extend %margin0auto;
    left: 0;
    bottom: 20px;
    right: 0;
    z-index: 9999999;
    .boxed-btn{
        @extend %margin0auto;
    }
    @include mx-mobile{
        bottom: 80px;
    }
    @include mx-mobile-lg{
        bottom: 5px;
    }
}

#fullpage, html, body {
    @extend %w100;
    @extend %h100;
}

/*=========.section-background-images=============*/ 
.section-bg-1{background-image: url(../img/reputationg-bg.jpg)}
.section-bg-2{background-image: url(../img/social-media-bg.jpg)}
.section-bg-3{background-image: url(../img/reputationg-bg.jpg)}
.section-bg-4{background-image: url(../img/social-media-bg.jpg)}
.section-bg-5{background-image: url(../img/reputationg-bg.jpg)}
.section-bg {
    @extend %w100;
    @extend %h100;
    @extend %backgroundimage;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.active .section-bg{
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
    transition: all 4s ease;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    @extend %white-bg-color;
    width: 8px;
    height: 8px;
    margin: -5px 0 0 -3px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    margin: -5px 0 0 -5px;
    background: transparent;
    border: 2px solid $color-white;
    width: 12px;
    height: 12px;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    margin: -6px 0 0 -5px;
    background: transparent;
    border: 2px solid $color-white;
}
div#fp-nav {
    @include mx-mobile{
        display: none;
    }
}



/*=========.site-search-wrap================*/ 
.site-search-wrap {
    @extend %posfixed;
    @extend %white-bg-color;
    @extend %textcenter;
    @extend %h100;
    top: 0;
    right: -820px;
    z-index: 999999999999;
    width: 820px;
    min-height: 100vh;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    @include all-below-med{
        width: 80%;
    }
    @include all-below-sm{
        width: 100%;
    }
    &.active {
        right: 0;
        .search-trigger {
            display: block;
        }
    }
}
.site-search-inner {
    @extend %white-bg-color;
    overflow: scroll;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @extend %h100;
    h3 {
        @extend %uppercase;
        @extend %posrelative;
        font-family: 'Gotham';
        font-size: 24px;
        font-weight: 500;
        @include all-below-med{
            font-size: 18px;
        }
        &:after {
            @extend %pseudo;
            left: 0;
            bottom: -40px;
            right: 0;
            width: 30px;
            height: 2px;
            @extend %secondary-bg-color;
            @extend %margin0auto;
            @include all-below-med{
                bottom: -30px;;
            }
        }
    }
}
.search-form {
    @extend %margin0auto;
    @extend %displayblock;
    width: 500px;
    margin-top: 140px;
    @include all-below-sm{
        width: 70%;
        margin-top: 70px;
    }
    label {
        @extend %displayblock;
        margin-bottom: 15px;
        @include all-below-sm{
            margin-bottom: 0px;
        }
    }
    select {
        @extend %suva-grey;
        font-size: 12px;
    }
    button {
        @extend %displayblock;
        border: 0;
        width: 150px;
        @extend %margin0auto;
        margin-top: 90px;
        @include all-below-sm{
            margin-top: 30px;
        }
    }
    .nice-select{
        @include all-below-sm{
            margin-bottom: 30px;
            padding: 0;
        }
    }
}

.search-trigger {
    cursor: pointer;
    @extend %posfixed;
    @extend %displaynone;
    top: 20px;
    right: 25px;
    z-index: 99;
    height: 30px;
    width: 30px;
    @include all-below-med{
        right: 15px;
        top: 15px;
    }
    span {
        @extend %displayblock;
        @extend %visible;
        @extend %black-bg-color;
        @extend %posrelative;
        height: 1px;
        width: 27px;
        margin-bottom: 6px;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .opnebar1 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 14px;
    }
    .opnebar2 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 7px;
    }
}




.section-text {
    @extend %posabsolute;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}
.fp-section h2.section-title{
    visibility: hidden;
    opacity: 0 !important;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}
.fp-section.active h2.section-title{
    visibility: visible;
    opacity: 1 !important;
}


/* animation for text */
.loading #section1.fp-section.active h2.section-title {
    opacity: 0!important;
}
.loading .section-bg-1{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

/*======.offcanvase-overlay=======*/
.offcanvase-overlay {
    left: 0;
    top: 0;
    z-index: 998;
    -webkit-transition: .3s ease; 
    -moz-transition: .3s ease; 
    -ms-transition: .3s ease; 
    -o-transition: .3s ease; 
    transition: .3s ease; 
    &.active {
        visibility: visible;
        z-index: 998; 
    }
}


/*==========.site-video-wrapper============*/ 
.site-video-wrapper{
    @extend %posabsolute;
    @extend %w100;
    @extend %h100;
    @extend %overflowhidden;
    top: 0;
    left: 0;
    .sit-video {
        @extend %w100;
        height: auto;
    }
}



/* ----------------------------------------------------------------*/


.header-inline-disable,.offcanvas-active{
    .header-inline-style{
        display: none;
    }
}
.header-inline-style{
    background: #202020;
    padding-top: 25px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: .4s;
    @include desktops{
        padding-top: 15px;
        padding-bottom: 0px;
    }
    .header-top-area{
        @include desktops{
            padding: 35px 0 10px;
        }
    }
    .logo{
        position: relative;
        @include desktops{
            padding-right: 70px;
        }
        @include large-desktops{
            padding-right: 0px;
        }
        a {
            display: flex;
            justify-content: center;
        }
    }
    .header-icons{
        color: #7B7B7B;
        height: 100%;
        font-size: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        @include desktops{
            top: -5px;
            right: 5%;
        }
        @include large-desktops{
            top: 0;
            right: 15%;
        }
        a{
            margin-left: 20px;
        }
    }
    .menu-area {
        @include desktops{
            margin-top: 15px;
        }
    }
    .main-menu{
        >ul{
            display: flex;
            position: relative;
            justify-content: center;
            >li{
                display: inline-block;
                position: relative;
                z-index: 9;
                >a{
                    color: #7b7b7b;
                    padding:21px 15px;
                    font-size: 19px;
                }
                a{
                    font-size: 19px;
                }
                >ul{
                    position: absolute;
                    top:110%;
                    background: #fff;
                    padding: 10px 0;
                    opacity: 0;
                    transition: .4s;
                    pointer-events: none;
                    &.sub-menu{
                        width: 250px;
                    }
                    >li{
                        >a{
                            color: #202020;
                            display: block;
                            padding: 7.5px 10px 7.5px 20px;
                        }
                    }
                }
                &:hover{
                    >ul{
                        top: 100%;
                        opacity: 1;
                        pointer-events: visible;
                    }
                }
            }
        }
    }
    .mobile-menu-container{
        position: relative;
       a.meanmenu-reveal{
           right: auto!important;
           left: 0!important;
           text-indent: 0px!important;
           margin-left: 15px;
           margin-top: 3px;
       }
        .mean-bar{
            z-index: 998;
        }
        .header-icons{
            position: absolute;
            z-index: 999;
            top: 25px;
            right: 30px;
        }
        &.mean-container .mean-nav ul li a.mean-expand{
            height: 27px;
        }
        &.mean-container {
            .mean-nav,.mean-bar{
                background: #202020;
            }
        }
    }
}


/*Footer styles*/

.site-footer{
     background: #202020;
     height: 40px;
     position: fixed;
     bottom: -40px;
     width: 100%;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: .4s;
    p{
        color: #fff;
        margin-bottom: 0;
    }
}

[class*="fp-viewing-"]:not(.fp-viewing-0) {
    .header-inline-style .mainmenu > ul > li > a{
        padding: 21px 15px 5px;
    }
    .menu-area {
        margin-top: 0px;
    }
    .site-footer{
        bottom: 0px;
    }
    .header-inline-style{
        top:-105px;
    }
}